:root {
  --border-default: rgba(0, 0, 0, 0.1);
  --gap: 0.5rem;
}

@theme {
  --container-width: 1400px;

  --color-brand: #38bfc4;
  --color-brand-dark: color-mix(in srgb, var(--color-brand) 10%, black);
  --color-brand-darkest: color-mix(in srgb, var(--color-brand) 5%, black);
  --color-body: #1e1e1e;
  --color-muted: color-mix(in srgb, var(--color-body) 60%, transparent);
  --color-border: var(--border-default);

  --font-montserrat: var(--font-montserrat-next);
  --font-nunito: var(--font-nunito-next);
  --font-inter: var(--font-inter-next);
  --font-dm-sans: var(--font-dm-sans-next);
}
